*{
    padding:0px;
    margin:0px;
    color: white;
    font-size:large ;
    text-decoration: none;
    align-items: center;
}
#hor{
    height: 50px;
    width: auto;
    background-color: rgb(214, 48, 82);
    /* align-items: center; */
    font-size: 16px;
    display: flex;
    flex-direction: row;
    border: 2px solid black   ;
}
td{
   color: firebrick; 
    padding-right: 140px;
    padding-left: 140px;
    color: white;
}
#home{
    background-color: yellow;
    width: 50px;
    height: 20px;
}
#vertical{
    height: 200px;
    padding: 30px;
    width: 80px;
    margin-top: 200px;
    align-items: center;
    background-color:  rgb(214, 48, 82);
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    flex-basis: auto;
}
.va{
    margin-top: 15px;
}