body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

#img {
    width: 400px;
    height: 400px;
    background-image: url(userim.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 0 auto 20px;
}

table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

td {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(248, 56, 56);
}

label {
    font-weight: bold;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: super;
}
